body {
  margin: 0 auto;
  width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
  padding: 0;
}

ul, p, h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  width: 100%;
  height: 80px;
}

.App {
  position: relative;
}

.menu {
  margin-left: 117px;
  width: 202px;
}

.menu ul {
  display: flex;
  margin-top: 26px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.menu ul li:nth-child(2),
.menu ul li:nth-child(3) {
  margin-left: 32px;
}

.menu ul li:nth-child(1) {
  color: #5ECE7B;
}

.store-icon {
  width: 30px;
  height: 30px;
  margin-left: 392px;
  margin-top: 26px;
}

.currency-container {
  margin-left: 534px;
  margin-top: 28.5px;
  font-size: 18px;
}

.currency-container img {
  margin-left: 5px;
}

.cart-icon {
  width: 20px;
  height: 18px;
  margin-left: 22px;
  margin-top: 33px;
}

.category-page {
  margin: 0 auto;
  width: 1223px;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 356px);
  grid-column-gap: 40px;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 444px;
}

.product-image {
  width: 356px;
  height: 336px;
  padding: 16px;
  object-fit: contain;
}

.product-name {
  height: 29px;
  margin-bottom: 0px;
  margin-left: 16px;
  font-size: 18px;
  color: #8D8F9A;
  text-align: left;
}

.product-price {
  height: 29px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  text-align: left;
}

.unstoked-warning {
  position: absolute;
  color: #8D8F9A;
  text-transform: uppercase;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;
  z-index: 2;
}

.category-page__add-to-card-button {
  position: absolute;
  top: 304px;
  left: 303px;
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  background-color: #5ECE7B;
}
