body {
  margin: 0 auto;
  width: 1440px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
  padding: 0;
}

ul, p, h1 {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 80px;
}

button:hover,
.menu ul li,
header img:hover,
.product-card:hover,
.currency-container:hover,
.product-page__attribute-items li:hover,
.cart-overlay__attribute-items li:hover,
.currency-overlay:hover {
  cursor: pointer;
}

.App {
  position: relative;
}

.menu {
  margin-left: 117px;
  width: 202px;
}

.menu ul {
  display: flex;
  margin-top: 26px;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}

.menu ul li:nth-child(2),
.menu ul li:nth-child(3) {
  margin-left: 32px;
}

.chosen {
  color: #5ECE7B;
}

.chosen::after {
  content: '';
  display: block;
  margin-top: 30px;
  height: 1px;
  width: 65px;
  padding: 0 12px;
  background: #5ECE7B;
}

.store-icon {
  width: 30px;
  height: 30px;
  margin-left: 392px;
  margin-top: 26px;
}

.header__totalOfItemsIcon {
  position: absolute;
  top: 25px;
  right: 88px;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  padding-top: 1px;
  color: #FFFFFF;
}

.currency-container {
  margin-left: 534px;
  margin-top: 28.5px;
  font-size: 18px;
}

.currency-container img {
  margin-left: 5px;
  transition: transform 0.2s ease;
}

.cart-icon {
  width: 20px;
  height: 18px;
  margin-left: 22px;
  margin-top: 33px;
}

.category-page {
  margin: 0 auto;
  width: 1223px;
}

.category-page h1 {
  text-align: left;
  font-weight: normal;
  font-size: 42px;
  line-height: 160%;
  margin-top: 80px;
}

.products-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 356px);
  grid-column-gap: 40px;
  justify-content: center;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 444px;
}

.product-image {
  width: 356px;
  height: 336px;
  padding: 16px;
  object-fit: contain;
}

.product-name {
  height: 29px;
  margin-bottom: 0px;
  margin-left: 16px;
  font-size: 18px;
  color: #8D8F9A;
  text-align: left;
}

.product-price {
  height: 29px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-size: 18px;
  text-align: left;
}

.unstoked-warning {
  position: absolute;
  color: #8D8F9A;
  text-transform: uppercase;
  left: 25.42%;
  right: 25.71%;
  top: 44.24%;
  bottom: 43.94%;
  z-index: 2;
}

.category-page__add-to-card-button {
  position: absolute;
  top: 304px;
  left: 303px;
  display: flex;
  width: 52px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
  background-color: #5ECE7B;
}

.product-page {
  display: flex;
  margin-top: 80px;
  width: 1440px;
  text-align: left;
}

.product-page__gallery {
  width: 732px;
  height: 510px;
  margin-left: 97px;
}

.product-page__information {
  width: 292px;
  margin-left: 100px;
}

.product-page__information h1 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  line-height: 27px;
  color: #1D1F22;
}

.product-page__name {
  margin-top: 16px;
  font-size: 30px;
  line-height: 27px;
}

.product-page__attribute-name {
  margin-top: 43px;
}

.product-page__attribute-name,
.product-page__price-heading {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
}

.product-page__price {
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
}

.product-page__add-to-card-button,
.product-page__not-in-stock-button {
  display: block;
  width: 100%;
  height: 52px;
  background-color: #5ECE7B;
  border: none;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 20px;
}

.product-page__attribute-items {
  display: grid;
  margin-top: 8px;
  grid-template-columns: repeat(4, 63px);
  grid-column-gap: 12px;
  grid-row-gap: 8px;
}

.product-page__attribute-items li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
}

.product-page__price-heading {
  margin-top: 40px;
}

.product-page__price {
  display: block;
  margin-top: 10px;
}

.product-page__not-in-stock-button {
  opacity: 0.5;
}

.description {
  margin-top: 40px;
  font-size: 16px;
  height: 103px;
  overflow-y: scroll;
}

.product-page__gallery {
  display: flex;
}

.product-page__gallery img {
  object-fit: contain;
}

.product-page__miniature-gallery {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 79px;
}

.miniature {
  height: 80px;
}

.miniature:not(:first-child) {
  margin-top: 32px;
}

.product-page__main-image {
  width: 610px;
  height: 511px;
  margin-left: 42px;
}

.cart-ovarlay {
  background-color: #FFFFFF;
  position: absolute;
  left: 1028px;
  top: 78px;
  width: 325px;
  height: 540px;
  z-index: 3;
}

.cart-overlay__product-wrapper {
  display: flex;
}

.cart-overlay__products-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 315px;
}

.cart-overlay__product-wrapper {
  overflow-x: hidden;
}

.cart-overlay__products-wrapper::-webkit-scrollbar-track,
.description::-webkit-scrollbar-track {
  background-color: white;
 }

.cart-overlay__products-wrapper::-webkit-scrollbar-thumb,
.description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #5ECE7B;
}

 .cart-overlay__products-wrapper::-webkit-scrollbar,
 .description::-webkit-scrollbar  {
   width: 3px;
  }

.cart-overlay-information {
  width: 293px;
  margin-left: 16px;
}

.cart-overlay-information p:first-child {
  width: 100%;
  margin-top: 8px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.cart-overlay__product-info {
  display: flex;
  flex-direction: column;
  width: 136px;
  text-align: left;
}

.cart-overlay__product-info p:first-child,
.cart-overlay__product-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  white-space: nowrap;
}

.cart-overlay__product-info span:nth-child(3) {
  margin-top: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

.cart-overlay__product-amount-info {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 137px;
  margin-left: 18px;
  justify-content: space-between;
}

.cart-overlay__product-amount-info button {
  width: 24px;
  height: 24px;
  background-color: white;
  border: 1px solid #1D1F22;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
}

.cart-overlay__product-amount-info span {
  height: 26px;
  font-weight: 500;
  font-size: 16px;
}

.cart-overlay__product-image {
  width: 105px;
  height: 137px;
  margin-left: 10px;
  object-fit: contain;
  background-color: white;
}

.cart-overlay__products-wrapper .cart-overlay__product-wrapper:not(:first-child) {
  margin-top: 41px;
}

.cart-overlay__buttons-wrapper {
  position: absolute;
  width: 100%;
  height: 43px;
  bottom: 20px;
  display: flex;
}

.cart-overlay__buttons-wrapper button {
  display: block;
  width: 140px;
  height: 43px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  padding: 0;
  text-transform: uppercase;
}

.cart-overlay__attribute-items {
  display: grid;
  height: 25px;
  margin-top: 8px;
  grid-template-columns: repeat(4, 24px);
  grid-column-gap: 8px;
  grid-row-gap: 6px;
}

.cart-overlay__attribute-items li {
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #1D1F22;
  font-size: 10px;
}

.total-wrapper {
  margin-top: 52px;
  display: flex;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.total-wrapper span:first-child {
  width: 50px;
}

.total-wrapper span:last-child {
  margin-left: 139px;
  width: 95px;
  text-align: right;
}

.cart-overlay__viewBag-button {
  background: #FFFFFF;
  border: 1px solid #1D1F22;
  margin-left: 13px;
}

.cart-overlay__checkOut-button {
  margin-left: 12px;
  background: #5ECE7B;
  color: #FFFFFF;
  border: 0;
}

.bag-page__product-wrapper {
  display: flex;
}

.bag-page-wrapper {
  width: 1097px;
  margin-left: 100px;
}

.bag-page-wrapper h1 {
  text-align: left;
}

.bag-page__product-amount-info {
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 185px;
  margin-left: 607px;
  justify-content: space-between;
}

.bag-page__product-amount-info button {
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid #1D1F22;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 20px;
}

.bag-page__product-amount-info span {
  height: 45px;
  font-weight: 500;
  font-size: 20px;
}

.bag-page__product-image {
  width: 141px;
  height: 185px;
  margin-left: 12px;
  object-fit: contain;
  background-color: white;
}

.bag-page-wrapper .bag-page__product-wrapper:not(:first-child) {
  margin-top: 41px;
}

.bag-page-wrapper .bag-page__product-wrapper:first-child {
  margin-top: 80px;
}

.bag-page__product-info {
  display: flex;
  flex-direction: column;
}

.bag-page__product-info p,
.bag-page__product-name,
.bag-page__product-info span:nth-child(3) {
  width: 292px;
  text-align: left;
}

.bag-page__product-info p {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
}

.bag-page__product-name {
  margin-top: 16px;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px
}

.bag-page__product-info span:nth-child(3) {
  padding-top: 7.5px;
  margin-top: 12px;
  height: 46px;
  font-weight: bold;
  font-size: 24px;
  line-height: 18px;
}

.bag-page__attribute-items {
  display: grid;
  margin-top: 12px;
  grid-template-columns: repeat(4, 63px);
  grid-column-gap: 12px;
  grid-row-gap: 6px;
}

.bag-page__attribute-items li {
  display: flex;
  margin-top: 0px;
  align-items: center;
  justify-content: center;
  width: 63px;
  height: 45px;
  border: 1px solid #1D1F22;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.currency-overlay {
  position: absolute;
  top: 60px;
  left: 1255px;
  display: flex;
  flex-direction: column;
  width: 114px;
  height: 175px;
  background-color: #FFFFFF;
  justify-content: space-around;
}

.currency-overlay__currency-container {
  top: 40px;
  width: 54px;
  height: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}

.currency-overlay__currency-container span:first-child {
  width: 10px;
  margin-left: 20px;
}

.currency-overlay__currency-container span:last-child {
  width: 20px;
  margin-left: 5px;
}

.opacity-overlay {
  position: absolute;
  top: 78px;
  width: 100%;
  height: 100vh;
  background: rgba(57, 55, 72, 0.22);
  z-index: 2;
}
